* text=auto !eol
Installer/GPL.txt -text
Installer/Header.bmp -text
Installer/Install.ico -text
Installer/Licenses/Chinese[!!-~]Simplified[!!-~]GPL.txt -text
Installer/Licenses/Chinese[!!-~]Traditional[!!-~]GPL.txt -text
Installer/Licenses/Czech[!!-~]GPL.txt -text
Installer/Licenses/Danish[!!-~]GPL.txt -text
Installer/Licenses/Dutch[!!-~]GPL.txt -text
Installer/Licenses/French[!!-~]GPL.txt -text
Installer/Licenses/German[!!-~]GPL.txt -text
Installer/Licenses/Greek[!!-~]GPL.txt -text
Installer/Licenses/Italian[!!-~]GPL.txt -text
Installer/Licenses/Korean[!!-~]GPL.txt -text
Installer/Licenses/Portuguese[!!-~]GPL.txt -text
Installer/Licenses/Russian[!!-~]GPL.txt -text
Installer/Licenses/Spanish[!!-~]GPL.txt -text
Installer/Licenses/Turkish[!!-~]GPL.txt -text
Installer/UnInstall.ico -text
Installer/Welcome.bmp -text
\!auctcache/!AuctCache.toc -text
\!auctcache/AuxMain.lua -text
\!nlog/VeraMono.ttf -text
\!swatter/lgpl.txt -text
auctioneer/README-FIRST-ALPHA-BETA.txt -text
auctioneer/Sounds/ScanComplete.mp3 -text svneol=unset#audio/mpeg
auctioneer/Textures/Clear.tga -text
auctioneer/Textures/Refresh.tga -text
auctioneer/Textures/Sort.tga -text
beancounter/GPL.txt -text
btmscan/License.txt -text
btmscan/Sounds/DoorBell.mp3 -text svneol=unset#audio/mpeg
btmscan/Textures/Back.blp -text
btmscan/Textures/Play.blp -text
btmscan/Textures/Stop.blp -text
docs/AucConvert.pdf -text svneol=unset#unset
enhtooltip/GPL.txt -text
informant/GPL.txt -text
stubby/GPL.txt -text
