* text=auto !eol
Auc-Advanced/CoreManifest.lua svneol=native#text/lua
Auc-Advanced/Modules/Auc-Util-Example/Readme.txt -text
Auc-Advanced/Modules/luae.exe -text
Auc-Advanced/Support/LibGroupStore.lua -text
Auc-Advanced/Support/LibTickTock.lua -text
Auc-Advanced/Support/Load.xml -text
Auc-Advanced/Textures/AucAdvIcon.blp -text
Auc-Advanced/Textures/NavButtons.tga -text
Auc-Advanced/includes -text
Auc-Db/Auc-Db.toc -text
Auc-Db/DbCore.lua -text
Auc-Db/DbData.lua -text
Auc-Db/StringRope.lua -text
Auc-Db/gpl-3.0.txt -text
Auc-Filter-Basic/BasicFilter.xml svneol=native#text/xml
Auc-Stat-Classic/Auc-Stat-Classic.toc svneol=native#text/toc
Auc-Stat-Classic/StatClassic.lua svneol=native#text/lua
Auc-Stat-Histogram/StatHistogram.lua svneol=native#text/lua
Auc-Stat-Sales/Auc-Stat-Sales.toc svneol=native#text/toc
Auc-Stat-Sales/BeanCount.lua svneol=native#text/lua
Auc-Stat-Sales/Embed.xml svneol=native#text/xml
Auc-Util-AskPrice/AskPrice.lua svneol=native#text/lua
Auc-Util-AskPrice/ChatThrottleLib/ChatThrottleLib.lua svneol=native#text/lua
Auc-Util-AskPrice/ChatThrottleLib/ChatThrottleLib.toc svneol=native#text/plain
Auc-Util-AskPrice/ChatThrottleLib/ChatThrottleLib.xml svneol=native#text/xml
Auc-Util-AskPrice/ChatThrottleLib/ChatThrottleStats.lua svneol=native#text/lua
Auc-Util-AskPrice/ChatThrottleLib/README.txt svneol=native#text/plain
Auc-Util-AutoMagic/Auc-Util-AutoMagic.lua svneol=native#text/lua
Auc-Util-AutoMagic/ConfirmSellUI.lua svneol=native#text/lua
Auc-Util-AutoMagic/Core.lua svneol=native#text/lua
Auc-Util-AutoMagic/Images/amagicIcon.blp -text
Auc-Util-AutoMagic/Images/amagicIconE.tga -text
Auc-Util-AutoMagic/Mail-GUI.lua svneol=native#text/lua
Auc-Util-EasyBuyout/Auc-Util-EasyBuyout.toc -text
Auc-Util-EasyBuyout/EasyBuyout.lua -text
Auc-Util-EasyBuyout/Embed.xml -text
Auc-Util-ItemSuggest/Auc-Util-ItemSuggest.lua svneol=native#text/lua
Auc-Util-ItemSuggest/Auc-Util-ItemSuggest.toc svneol=native#text/lua
Auc-Util-ProtectWindow/Auc-Util-ProtectWindow.toc svneol=native#text/toc
Auc-Util-ProtectWindow/Embed.xml svneol=native#text/xml
Auc-Util-ProtectWindow/ProtectWindow.lua svneol=native#text/lua
Auc-Util-ScanFinish/Embed.xml svneol=native#text/xml
Auc-Util-ScanFinish/ScanComplete.mp3 -text svneol=unset#audio/mpeg
Auc-Util-ScanFinish/ScanFinish.lua svneol=native#text/lua
Auc-Util-SearchUI/DoorBell.mp3 -text
Auc-Util-SearchUI/FilterItemLevel.lua svneol=native#text/lua
Auc-Util-SearchUI/FilterItemPrice.lua svneol=native#text/lua
Auc-Util-SearchUI/FilterItemQuality.lua svneol=native#text/lua
Auc-Util-SearchUI/FilterTimeLeft.lua svneol=native#text/lua
Auc-Util-SearchUI/SearchMain.lua svneol=native#text/lua
Auc-Util-SearchUI/SearchRealTime.lua svneol=native#text/lua
Auc-Util-SearchUI/SearcherConverter.lua svneol=native#text/lua
Auc-Util-SearchUI/SearcherDisenchant.lua svneol=native#text/lua
Auc-Util-SearchUI/SearcherGeneral.lua svneol=native#text/lua
Auc-Util-SearchUI/SearcherResale.lua svneol=native#text/lua
Auc-Util-SearchUI/SearcherSnatch.lua svneol=native#text/lua
Auc-Util-SearchUI/SearcherVendor.lua svneol=native#text/lua
Auc-Util-SearchUI/Textures/SearchButton.tga -text
Auc-Util-SearchUI/Textures/SearchUIIcon.blp -text
Auctioneer/README-FIRST-ALPHA-BETA.txt -text
Auctioneer/Sounds/ScanComplete.mp3 -text svneol=unset#audio/mpeg
Auctioneer/Textures/Clear.tga -text
Auctioneer/Textures/Refresh.tga -text
Auctioneer/Textures/Sort.tga -text
Auctioneer/includes -text
BeanCounter/GPL.txt -text
BeanCounter/Textures/BC-Top.blp -text
BeanCounter/Textures/BC-TopLeft.blp -text
BeanCounter/Textures/BC-TopRight.blp -text
BeanCounter/Textures/BeanCounterIcon.blp -text
BeanCounter/includes -text
BtmScan/EvalAppraiser.lua -text
BtmScan/EvalEnchantMats.lua -text
BtmScan/EvalMatConvert.lua svneol=native#text/lua
BtmScan/FilterItemQuality.lua -text
BtmScan/Sounds/DoorBell.mp3 -text svneol=unset#audio/mpeg
BtmScan/Textures/Back.blp -text
BtmScan/Textures/BtmScanIcon.blp -text
BtmScan/Textures/Play.blp -text
BtmScan/Textures/Stop.blp -text
BtmScan/includes -text
Enchantrix-Barker/includes -text
Enchantrix/Skin/EnxOrb.blp -text
Enchantrix/includes -text
EnhTooltip/Command.lua -text
EnhTooltip/ConfigUI.lua -text
EnhTooltip/Skin/EnhOrb.blp -text
EnhTooltip/includes -text
Informant/includes -text
/build.conf -text
